.header{
    background:#4a4b4e;
    display:table;
    table-layout: fixed;
    width:100%;
}

.item{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: table-cell;
    color: white;
    text-decoration: none;
    font-size:1.1rem;
    font-weight: bold;
    font-size-adjust: 2;
    font-family: Gill Sans Extrabold, sans-serif;
      
}

.item:hover{
    background: #3b3c3f;
}

.item:active, .item.active{
    background: rgb(228, 225, 225);
    color:#5a5d69;
}